<section class="md:slp-grid-cols-2 md:slp-grid md:slp-gap-12 slp-mb-64 slp-mb-16">
  <div class="sm:slp-text-center slp-mb-64">
    <h1
      class="slp-text-3xl slp-pt-32 slp-pb-16 sm:slp-mr-16 md:slp-text-5xl lg:slp-mr-96"
    >
      <%= header.title %>
    </h1>
    <p class="slp-text-lg slp-pb-8 md:slp-text-xl ">
      <%= header.subtitle %>
    </p>
    <% if header.destinationUrl %>
      <a href="<%= header.destinationUrlTwo %>" class="slp-min-w-full md:slp-min-w-min slp-btn slp-mr-8">
        <%= header.cta   %>
      </a>
    <% end %>
    <% if header.destinationUrlTwo %>
      <a href="<%= header.destinationUrlTwo %>" class="slp-min-w-full md:slp-min-w-min slp-btn slp-btn--secondary slp-mb-64">
        <%= header.ctaTwo   %>
      </a>
    <% end %>
    <% if header.tagline %>
      <p class="slp-mt-24 slp-text-md">
        <%= header.tagline %>
      </p>
    <% end %>
  </div>
  <img
    src="<%= header.image %>"
    alt=""
    class="slp-w-full md:slp-max-w-2xl slp-order-2 md:slp-justify-self-center"
  />
</section>

<style>
@media (max-width: 1024px) {
  .sm\:slp-text-center {
    text-align: center !important;
  }
}
</style>


